.page-turn {
  transition: transform 0.8s ease-in-out;
  transform-origin: left;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.page-turn-enter {
  transform: rotateY(0deg);
}

.page-turn-exit {
  transform: rotateY(-180deg);
}

.page-container {
  perspective: 1500px;
}